<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Signup - Assignment for Quadiro Technologies</title>
  <link rel="stylesheet" href="/login.css">
  <link rel="Shortcut Icon" type="image/png" href="logo.png">
</head>

<body>
  <div class="container">
    <div class="background">
      <h1>Assignment for Quadiro Technologies</h1>
      <img src="logo.png" alt="">
      <h2>Signup</h2>
      <form action="/signup" method="POST">
        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required>
        <button type="submit" class="btn">Signup</button>
      </form>
      <% if (message) { %>
        <p style="color: red;">
          <%= message %>
        </p>
        <% } %>
          <a href="/login">Already have an account? Login</a>
    </div>
  </div>
</body>

</html>